<div class="row">
  <div class="columns card">
    <h1 class="text-display-1">Confirmação de Pagamento</h1>
    <div class="row columns">
      <div class="medium-6">
        <ul class="no-bullet">
          <% @product.each do |item| %>
          <li><%= item.product_name %></li>
          <% end %>
        </ul>
      </div>
      <div class="medium-6">
        <%= @custome.fullname %>
      </div>
    </div>
  </div>
</div>
