@import "foundation_and_overrides";

.top-bar .menu a {
  font-weight: bold;
}

.catalog {
  .buy-finalize {
    position: absolute;
    right: 1rem;
    top: 4rem;
  }

  .product {
    margin: $global-margin * 0.5;
    cursor: pointer;
    height: 13rem;

    img {
      margin: 0
    }

    .image {
      margin-top: 4rem;
    }
  }

  .active {
    background-color: $primary-color;
  }
}
