@import "foundation_and_overrides";

.products {
  ul li span {
    display: block;
    font-weight: bold;
    font-size: 1rem;
  }

  .coupon {
    background-color: lighten(gray, 30%);
  }
}

.confirm .card {
  padding: $global-padding * 2 $global-padding;
}

.date select {
  @extend .medium-4, .columns;
}
