<h1 class="text-display-2">Editar Produto</h1>

<%= render 'form', product: @product %>

<div class="row column">
  <%= link_to 'Mostrar', @product, class: 'flat-button ink' %>
  <%= link_to 'Voltar', products_path, class: 'flat-button ink' %>
</div>
